<form [formGroup]="miFormulario" (ngSubmit)="onSave()" autocomplete="off" class="mt-4">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre:</label>
    <input type="text" id="nombre" class="form-control" formControlName="nombre">
    <div *ngIf="isValidField('nombre')" class="form-text text-danger" class="invalid-feedback">
      El nombre es obligatorio.
    </div>
  </div>

  <div class="mb-3">
    <label for="precio" class="form-label">Precio:</label>
    <input type="text" id="precio" class="form-control" formControlName="precio">
    <div *ngIf="isValidField('precio')" class="form-text text-danger">
      El precio es obligatorio.
    </div>
    <div *ngIf="isValidField('precio')" class="form-text text-danger" class="invalid-feedback">
      El precio debe ser un número válido.
    </div>
  </div>

  <div class="mb-3">
    <label for="imageUrl" class="form-label">URL de la imagen:</label>
    <input type="text" id="imageUrl" class="form-control" formControlName="imageUrl">
    <div *ngIf="isValidField('imageUrl')" class="form-text text-danger" class="invalid-feedback"
      class="invalid-feedback">
      La URL de la imagen es obligatoria.
    </div>
    <div *ngIf="isValidField('imageUrl')" class="form-text text-danger" class="invalid-feedback" class="invalid-feedback">
      La URL de la imagen no es válida.
    </div>
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" id="enVenta" class="form-check-input" formControlName="enVenta">
    <label class="form-check-label" for="enVenta">¿Está en venta?</label>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>