<form #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm)" class="container mt-4" novalidate>
  <div ngModelGroup="article" #articleGroup="ngModelGroup">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre del Artículo:</label>
      <input type="text" id="name" class="form-control" required name="name" [(ngModel)]="article.name" #name="ngModel">
      <div *ngIf="name.touched && name.invalid" class="text-danger">
        El nombre es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Precio del Artículo:</label>
      <input type="text" id="price" class="form-control" required pattern="^\d+(\.\d{1,2})?$" name="price" [(ngModel)]="article.price" #price="ngModel">
      <div *ngIf="price.touched && price.invalid" class="text-danger">
        <div *ngIf="price.errors?.['required']">El precio es obligatorio.</div>
        <div *ngIf="price.errors?.['pattern']">El precio debe ser numérico.</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="imageUrl" class="form-label">URL de la Imagen:</label>
      <input type="text" id="imageUrl" class="form-control" required name="imageUrl" [(ngModel)]="article.imageUrl" #imageUrl="ngModel" pattern="^(http|https)://[a-zA-Z0-9]+(\.[a-zA-Z]{2,3})+(\/[a-zA-Z0-9]+)*\/?[a-zA-Z0-9]+\.(jpg|jpeg|png|gif)$">
      <div *ngIf="imageUrl.touched && imageUrl.invalid" class="text-danger">
        <div *ngIf="imageUrl.errors?.['required']">La URL de la imagen es obligatoria.</div>
        <div *ngIf="imageUrl.errors?.['pattern']">La URL de la imagen debe ser válida.</div>
      </div>
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" id="enVenta" class="form-check-input" name="enVenta" [(ngModel)]="article.enVenta" #enVenta="ngModel">
      <label class="form-check-label" for="enVenta">¿Está en venta?</label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!articleForm.valid">Enviar</button>
</form>
