.full-space {
    width: 100%;
    min-height: 100vh; /* Cambiado a viewport height */
    position: relative; /* Cambiado a relative */
    top: 0;
    left: 0;
    background-image: url("src/assets/img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.row-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; /* Cambiado a viewport height */
    min-width: 100%;
    background-color: #f5be41;
    border: 5px solid #cf3721;
    margin-bottom: 100px;
}
