<div class="card mb-4" [ngClass]="{'not-available-burger': !articulo.isOnSale}">
    <img [src]="articulo.imageUrl|personalizado" alt="Imagen Hamburgesa" class="card-img-top img-fluid object-fit-cover">
    <div class="card-body">
        <h5 class="card-title">{{articulo.name}}</h5>
        <p *ngIf="articulo.cantidadEnStock > 0 && articulo.isOnSale">
            Cantidad en stock: {{articulo.cantidadEnStock}}
            <span class="cantidad" [ngClass]="{
                    'not-available': articulo.quantityInCart > articulo.cantidadEnStock,
                    'available': articulo.quantityInCart <= articulo.cantidadEnStock
                }" *ngIf="articulo.quantityInCart > articulo.cantidadEnStock">
                STOCK SUPERADO
            </span>
        </p>
        <p class="card-text" [ngClass]="{'not-stock': articulo.cantidadEnStock == 0}">
            {{articulo.price|currency:'EUR':'symbol':'1.2-2'}} 
        </p>
        <div *ngIf="articulo.cantidadEnStock == 0 && !articulo.isOnSale">
            <h2>Existencias agotadas</h2>
        </div>
    </div>
    <div class="card-pursache" *ngIf="articulo.cantidadEnStock > 0 && articulo.isOnSale">
        <div class="d-flex flex-column justify-content-between align-items-center row">
            <p class="cantidad" [ngClass]="{
                    'not-available': articulo.quantityInCart > articulo.cantidadEnStock,
                    'available': articulo.quantityInCart <= articulo.cantidadEnStock
                }">
                Cantidad: {{articulo.quantityInCart}}
            </p>
            
            <div class="d-flex justify-content-around row">
                <button class="btn btn-danger p-2 col-5" (click)="agregarProducto()">+</button>
                <button class="btn btn-danger p-2 col-5" (click)="quitarProducto()"
                    [disabled]="articulo.quantityInCart <= 0">-</button>
            </div>
        </div>
    </div>
</div>